/*CSS Reset*/
body, header, nav, main, footer, img, h1, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for images*/
img {
    max-width: 100%;
    display: block;
}

#content {
    position: relative;
}

#content img {
    position: absolute;
    top: 0;
    right: 0;
}

/*Style rules for body*/
* {
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    overflow: scroll;
}
body {
    height: 100%;
    background-color: #ddd;
}

h2, h3 {
    text-align: center;
}

#box1 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    border-bottom: 1px solid;
    border-right: 1px solid;
    background-color: #01889F;
}

.scrollable {
    overflow: scroll;
}

/*Style rules for header*/
header {

}

header h1 {
    text-align: center;
    font-size: 2.5em;
}

.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#top {
    height: 40%;
    width: 100%;
    display: inline-block;
    border: 1px solid;
    background-color: #01889F;
}
/*Style rules for nav*/
nav {

}

nav ul {
    list-style-type: none;
    margin: 2em;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    border: 2px solid #FFFF00;

}

nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 0.5em 2em;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}



/*Style rules for main*/
main {
    padding: 2%;
    overflow: auto;
    text-align: center;
}

main p {
    font-size: 1.25em;
}

main h2 {
    padding: 1em;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrap {
    display: inline-block;
    border: 1px solid;
    margin: 1em;
    padding-bottom: 3em;
}


/*Style rules for footer*/
footer {
    text-align: center;
    font-size: 0.65em;
    clear: left;
    padding: 1% 0;
    position:relative;
    bottom:0;
    left:0;
    right:0;
    height:45px;
}

footer a {
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px), print {

    /*Tablet viewport: show tab-desk class, hide mobile class*/
    .tab-desk {
        display: block
    }

    .mobile {
        display: none;
    }

    /*Tablet viewport: Style rule for header content */
    span.tab-desk {
        display: inline;
    }

    /*Tablet viewport: Style rules for nav area*/
    nav li {
        display: inline-block;
        font-size: 1.5em;
        border: 4px solid #FFFF00;
    }

    nav li a {
        padding: 0.25em 0.5em;
    }
}